@use '../../scss/' as *;

.services {
    
    @include flex(center,space-between);
    flex-direction: column;
    position: relative;
    width: 100%;
    padding : 5rem 3rem 0 3rem;


    @include tablet {
        flex-direction: column;
        padding: 6rem 3rem 0 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    

    &-left {
        @include flex(unset,unset);
        flex-direction: column;
        margin-right: 20px;
        width: 100%;
        text-align: center;

      

        &>*~* {
            margin-bottom: 40px;
        }

        &>:nth-child(1) {
            width: 100%;
            text-align: center;
            padding-bottom:  5rem;
            font-size: 3rem;
            font-family: 'Akaya Telivigala', cursive;

        }
      

    }

    &-right {
        @include flex(center,center);
        flex-wrap: wrap;
        flex:1;

        &__card {
            width: 300px;
            margin-left: 30px;
            margin-bottom: 30px;

            @include mobile {
                width: 100%;
                margin-bottom: 20px;
                margin-left: 0;

            }
        }

    }
}

.services-button {
    width: 9rem;
}

.services-blur2 {
    right: 10%;
    top: 10%;
}
.services-blur3 {
    bottom: 10%;
    left: 10%;
}
.services-blur4 {
    width: 400px;
    bottom: 20%;
    left: 11%;
}