@use './../../scss/' as *;

.intro {
    @include flex(unset,space-between);
    position: relative;
    
    height: 77vh;
    margin-top: 6rem;
    flex-direction: row;
    @include mobile {
        @include flex(unset,unset);
        flex-direction: column;
        height: auto;

    }

    &-left {
        @include flex(unset,unset);
        flex-direction: column;
        position: relative;
        flex:1;

        &>* {
            margin-bottom: 20px;
        }

        &__name {
            @include flex(unset,unset);
            font-family: 'Akaya Telivigala', cursive;
            flex-direction: column;        
            font-weight: bold;
            font-size: 5rem;
            line-height: 1.3;

            @include tablet {
                font-size: 3rem;
            }
            &>:nth-child(1) {
                color: $txt-color;  
            }
            &>:nth-child(2) {
                color: $main-color;
            }
        }
        &__description {
            font-size: 1rem;
            font-weight: 300;
            color: $gray;
            font-style: italic;
        }
        &__life {
            font-weight: bold;
            font-size: 2rem;     
            &>:nth-child(1)
            {
                color: $txt-color;  
            }
            &>:nth-child(2)
            {
                color: $main-color;
            }
        }
        &__icon {
            
            @include flex(center,unset);
            

            & >* {
                transform: scale(0.5);
                cursor: pointer;
            }
        }
    }

    &-right {
        flex: 1;
        position: relative;

        &>* {
            position: absolute;
            z-index: 1;
        }
        &__vector {
            transform: scale(.9);
            left: 0;
            top: 0;
            z-index: -99;
            @include mobile {
                display: none;
            }
        }

        &__image { 
            @include flex(center,center);
            width: 320px;
            position: relative;
            padding-top:450px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 7px;
            overflow: hidden;

            &::before {
                content:'';
                position: absolute;
                background: linear-gradient(#00ccff, #d400d4);
                // width: 130px;
                // height: 160%;
                // top: -100px;
                // transform: translateY(-50%);
                width: 120px;
                height: 140%;
                top: -20%;
                animation: animate 4s linear infinite;
                
            }

            @keyframes animate {
                0% {
                    transform: rotate(0deg)
                }
                100% {
                    transform: rotate(360deg)
                }
            }

            &::after {
                content:'';
                position: absolute;
                background: url(../../assets/img/boy.jpg);
                inset: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 10px;
            }

            @include mobile {
                left: 0;
                top: 0;
                transform: translate(0, 0);
                width: 100%;
               
            }

            @include tablet {
                left: 0;
                top: 0;
                transform: translate(0, 0);   
            }
            
        }

    }
}

.cursor {
    color: red;
    font-size: 2.5rem;
}

.intro-button {
    padding : 9px 0;
    width: 10rem;
    
}
.intro-blur1 {
    top: 18%;
    left: 56%;
}
.intro-blur2 {
    top: 17rem;
    height: 21rem;
    width: 41rem;
    left:-9rem;
    background: #ABF1FF94;
}