
$main-color: #FCA61F;
$txt-color: #242D49;

$white: #fff;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 6rem;
$header-shrink-height: 5rem;
$border-radius: 15px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Anek Tamil', sans-serif;

$yellow: #F5C32C;
$black : #242D49;

$blueCard : #DDF8FE;
$gray : #788097;




